
@{
    ViewData["Title"] = "Vehiculos";
}

<h1>Vehiculos Disponibles</h1>

<p>Aqui van todos los vechículos </p>

<!--Catalogo autos-->

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <!-- Aqui va cargadas las imágenes-->
                <img src="~/img/auto1.png" class="card-img-top" alt="Modelo de Auto">
                <div class="card-body">
                    <!-- Informacion del auto -->
                    <h5 class="card-title">Toyota Corolla 2024</h5>
                    <p class="card-text">Sedán ejecutivo con el mejor rendimiento y confort.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <i class="fas fa-engine fa-fw text-warning"></i>
                        Motor 2.0L | 169 HP
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-tachometer-alt fa-fw text-warning"></i>
                        Control de Crucero Adaptativo
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-users fa-fw text-warning"></i>
                        5 Pasajeros
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-gas-pump fa-fw text-warning"></i>
                        Consumo: 18.5 km/l
                    </li>
                </ul>
                <div class="card-body text-center">
                    <button class="btn btn-warning w-100">
                        <i class="fas fa-calculator me-2"></i>
                        Modificar
                    </button>
                </div>
            </div>
        </div>

        <!--Aqui se repite otra vez, por lo tanto se debe hacer un generic -->
        <div class="col-md-4">
            <div class="card">
                <img src="~/img/auto1.png" class="card-img-top" alt="Modelo de Auto">
                <div class="card-body">
                    <h5 class="card-title">Toyota Corolla 2024</h5>
                    <p class="card-text">Sedán ejecutivo con el mejor rendimiento y confort.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <i class="fas fa-engine fa-fw text-warning"></i>
                        Motor 2.0L | 169 HP
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-tachometer-alt fa-fw text-warning"></i>
                        Control de Crucero Adaptativo
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-users fa-fw text-warning"></i>
                        5 Pasajeros
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-gas-pump fa-fw text-warning"></i>
                        Consumo: 18.5 km/l
                    </li>
                </ul>
                <div class="card-body text-center">
                    <button class="btn btn-warning w-100">
                        <i class="fas fa-calculator me-2"></i>
                        Cotiza Ahora
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img src="~/img/auto1.png" class="card-img-top" alt="Modelo de Auto">
                <div class="card-body">
                    <h5 class="card-title">Toyota Corolla 2024</h5>
                    <p class="card-text">Sedán ejecutivo con el mejor rendimiento y confort.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <i class="fas fa-engine fa-fw text-warning"></i>
                        Motor 2.0L | 169 HP
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-tachometer-alt fa-fw text-warning"></i>
                        Control de Crucero Adaptativo
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-users fa-fw text-warning"></i>
                        5 Pasajeros
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-gas-pump fa-fw text-warning"></i>
                        Consumo: 18.5 km/l
                    </li>
                </ul>
                <div class="card-body text-center">
                    <button class="btn btn-warning w-100">
                        <i class="fas fa-calculator me-2"></i>
                        Cotiza Ahora
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


